@use '/src/common/color.scss' as clr;
@use '/src/common/template.scss' as tem;
@use '/src/common/breakpoint.scss' as b;

.cart-card-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.total-price {
		color: clr.$neutral-balance;
		text-align: right;
	}

	tbody,
	tbody td {
		border: tem.$border;
	}

	table {
		border-collapse: collapse;

		td {
			padding: 1rem;
			@media (max-width: b.$phone) {
				padding: 0.5rem;
			}
		}

		td.extend {
			width: 7rem;

			@media (max-width: b.$phone) {
				width: 5rem;
			}
		}

		thead {
			border: none;
			background-color: clr.$secondary;
			color: clr.$neutral-inverted;
			font-weight: bold;

			@media (max-width: b.$tablet-mini) {
				font-size: 0.75rem;
			}
		}

		tbody {
			tr {
				@media (max-width: b.$tablet-mini) {
					font-size: 0.75rem;
				}
			}
		}
	}
}
