@use '/src/common/template.scss' as tem;
@use '/src/common/breakpoint.scss' as b;

#root {
	height: 100%;
}

body {
	overflow-y: scroll;
}

.App {
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: visible;
	gap: 3rem;
	@media (max-width: b.$tablet-mini) {
		gap: 2rem;
	}
}

main {
	flex-grow: 1;
}

.wrapper {
	height: 100%;
	width: min(tem.$container-width, 90%);
	margin-inline: auto;
}
