#root {
	height: 100%;
}

.App {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

main {
	flex-grow: 1;
}

.wrapper {
	height: 100%;
	width: min(1200px, 90%);
	margin-inline: auto;
}
