@use '/src/common/template.scss' as tem;
@use '/src/common/color.scss' as clr;
@use '/src/common/breakpoint.scss' as b;

.product-card {
	border: tem.$border;
	display: flex;
	flex-direction: column;
	width: 250px;

	@media (max-width: b.$tablet-large) {
		width: 175px;
	}

	@media (max-width: b.$tablet-mini) {
		width: 150px;
	}

	@media (max-width: b.$phone) {
		width: 125px;
	}

	.product-card-image-container {
		padding: 1rem;
		border-bottom: tem.$border;
		width: 100%;
		height: 250px;

		@media (max-width: b.$tablet-large) {
			height: 175px;
		}

		@media (max-width: b.$tablet-mini) {
			height: 150px;
		}

		@media (max-width: b.$phone) {
			height: 125px;
		}

		.product-card-image {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.product-card-info-container {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 1rem;
		gap: 1rem;

		.product-card-title {
			height: 60px;
			overflow: hidden;
			@media (max-width: b.$tablet-large) {
				font-size: 1rem;
			}
			@media (max-width: b.$tablet-mini) {
				font-size: 0.875rem;
				height: 40px;
			}
			@media (max-width: b.$phone) {
				font-size: 0.75rem;
			}
		}

		div {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.product-card-price {
				display: flex;
				gap: 0.25rem;
				font-weight: bold;
				font-size: 1.5rem;

				@media (max-width: b.$tablet-large) {
					font-size: 1.25rem;
				}

				@media (max-width: b.$tablet-mini) {
					font-size: 1.125rem;
				}
				@media (max-width: b.$phone) {
					font-size: 0.875rem;
					gap: 0.125rem;
				}

				span {
					font-size: 1.25rem;
					font-weight: lighter;

					@media (max-width: b.$tablet-large) {
						font-size: 1rem;
					}
					@media (max-width: b.$tablet-mini) {
						font-size: 0.875rem;
					}
					@media (max-width: b.$phone) {
						font-size: 0.75rem;
					}
				}
			}

			.product-card-rating {
				font-size: 1.125rem;
				display: flex;
				align-items: center;
				gap: 0.25rem;
				@media (max-width: b.$tablet-mini) {
					font-size: 1rem;
				}

				@media (max-width: b.$tablet-large) {
					font-size: 0.875rem;
				}

				@media (max-width: b.$phone) {
					font-size: 0.75rem;
					gap: 0.125rem;
				}

				.star-icon {
					color: clr.$yellow;
				}
			}
		}
	}
}
