@use '/src/common/color.scss' as clr;
@use '/src/common/template.scss' as tem;
@use '/src/common/breakpoint.scss' as b;

.product-detail-container {
	width: 100%;
	display: flex;
	gap: 3rem;

	@media (max-width: b.$tablet-mini) {
		flex-direction: column;
	}

	@media (max-width: b.$phone) {
		gap: 2rem;
	}

	.product-detail-image-container {
		flex-shrink: 0;
		border: tem.$border;
		width: 600px;
		height: 600px;

		@media (max-width: b.$tablet-large) {
			width: 400px;
			height: 400px;
		}
		@media (max-width: b.$tablet-mini) {
			width: 300px;
			height: 300px;
		}
		@media (max-width: b.$phone) {
			width: 100px;
			height: 100px;
		}

		.product-detail-image {
			cursor: pointer;
			padding: 2rem;
			transition: tem.$transition;
			transition-property: scale;

			&:hover {
				@media (hover: hover) {
					scale: 1.05;
				}
			}

			@media (max-width: b.$tablet-mini) {
				padding: 1rem;
			}

			@media (max-width: b.$phone) {
				padding: 0.25rem;
			}
		}
	}
	.container {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		.product-detail-info-container {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			h2 {
				@media (max-width: b.$tablet-mini) {
					font-size: 1.25rem;
				}
			}

			.product-detail-rating {
				display: flex;
				align-items: flex-end;
				gap: 0.5rem;

				.rating {
					font-size: 1.25rem;

					display: flex;
					align-items: center;
					gap: 0.25rem;
					.star-icon {
						color: clr.$yellow;
					}
				}

				.reviews {
					color: clr.$neutral-balance;
				}
			}

			.product-detail-price {
				font-size: 2rem;
				font-weight: bold;
				display: flex;
				gap: 0.25rem;

				span {
					font-weight: lighter;
					font-size: 1.5rem;
				}
			}
		}

		hr {
			border: none;
			border-bottom: tem.$border;
		}

		.product-detail-control {
			display: flex;
			gap: 1rem;
			flex-wrap: wrap;

			.cart-btn {
				width: fit-content;
				height: 2.5rem;
				display: flex;
				gap: 1rem;
				align-items: center;
				padding: 1rem;
				color: clr.$primary;
				background-color: clr.$neutral-inverted;
				border: tem.$border;
				border-color: clr.$primary;
				transition: tem.$transition;

				&:hover {
					color: clr.$neutral-inverted;
					background-color: clr.$primary;
				}

				&:active {
					scale: 0.95;
				}
			}
		}
	}
}
