@use 'color' as clr;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

// RESET
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
button,
textarea,
select {
	font: inherit;
}

html,
body {
	height: 100%;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a:focus,
button:focus,
input:focus {
	outline: none;
}

button {
	cursor: pointer;
}

// TYPOGRAPHY

body {
	font-family: 'Lato', sans-serif;
	background-color: clr.$neutral-inverted;
	color: clr.$neutral;
	line-height: 1.5;
}

h1,
h2 {
	color: clr.$secondary;
}

h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}
