@use 'color' as clr;
@use '/src/common/breakpoint.scss' as b;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

// RESET
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
button,
textarea,
select {
	font: inherit;
}

html,
body {
	height: 100%;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

a:focus,
button:focus,
input:focus {
	outline: none;
}

button {
	cursor: pointer;
}

// TYPOGRAPHY

body {
	font-family: 'Lato', sans-serif;
	background-color: clr.$neutral-inverted;
	color: clr.$neutral;
	line-height: 1.5;
}

h1,
h2,
h3,
h4 {
	color: clr.$secondary;
}

h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
	@media (max-width: b.$tablet-mini) {
		font-size: 1.5rem;
	}
}

// Scroll bar

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background-color: clr.$balance;
}

::-webkit-scrollbar-thumb {
	background-color: clr.$neutral-balance;
}

::-webkit-scrollbar {
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
}

// Product Image

.product-image {
	padding: 1rem;
	width: 100%;
	height: 100%;
	object-fit: contain;
}
